.btn-amarelo {
    background-color: #ecbe25ec;
    color: #000;
}
  
.btn-amarelo:hover {
    background-color: #eccb0d;
}

.v-container {
    display: flex;
    justify-content: start;
    align-items: top;
    height: 100vh;
}

.btn-vermelho {
    background-color: #FF5252; 
    color: #fff;
    margin-left: 8px; 
}

.btn-vermelho:hover {
    background-color: #FF5252; 
    color: #fff;
    margin-left: 8px; 
}
